.auth-body{
    width: 500px;
    padding: 30px 70px;
    border: 1px solid #cccccc;
    border-radius: 6px;
}
.main-bar{
    float: left;
    width: 70%;
}
.side-bar{
    float: right;
    height: 200px;
    width: 25%;
    text-align: center;
    /*background: #eeeeee;*/
}