body{
    background: #ccc;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #ffffff;
    border: 0px;
}
.error {
    color: red;
}
.right{
    color: green;
}
.edit-bar {
    width: 70%;
    padding: 30px 70px;
    border-radius: 6px;
    background: #fff;
}
.edit-bar img{
    width: 200px;
    height: 200px;
    border: 2px #000 solid;
}
.main-bar{
    float: left;
    width: 70%;
    background: #fff;
    padding: 20px;
    margin-bottom: 50px;
}
.side-bar{
    float: right;
    height: 200px;
    width: 25%;
    text-align: center;
    /*background: #eeeeee;*/
}
.bottom-bar{
    /*margin-top: 30px;*/
    /*height: 70px;*/
    /*background: #fff;*/
}
/* user-show页面 */
.user-show{
    background: #fff;
    padding: 20px 40px;
    float: left;
    width: 70%;
}
.user-show-top{

}
.user-show-top h1{
    text-align: center;
}
.user-show-left{
    width: 240px;
    float: left;
    height: 240px;
}
.user-show-left a{
    text-align: center;
}
.user-show-left img{
    width: 200px;
    height: 200px;
    border: 2px #000 solid;
}
.user-show-right{
    /*float: right;*/
    padding: 20px;
    margin-left: 100px;
    min-height: 240px;
}
.user-show-bottom{
    width: 100%;
    /*background: #ccc;*/
}
/* POST列表项 */
.post-list{

}
.post-top *{
    color: #555555;
    font-size: 18px;
}
.post-bottom {
    font-size: 10px;
}
.post-right{
    float: right;
}
/**/
/* START 话题分类导航栏 */
.topic-nav{
    padding: 0px;
    margin-bottom: 40px;
}
.topic-nav li{
    list-style: none;
    float: left;
    padding: 5px 10px;
    border-radius: 5px;
}
.topic-nav a{
    text-decoration: none;
    color: #000000;
}
.topic-nav .active{
    background: #000000;
}
.topic-nav .active{
    color: #ffffff;
}
.topic-nav li:hover{
    background: #cccccc;
    color: #000000;
}
/* END 话题分类导航栏 */
