<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sang.topic.common.mapper.CollectRuleMapper" >
  <resultMap id="BaseResultMap" type="com.sang.topic.common.model.CollectRule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="topic_id" property="topicId" jdbcType="INTEGER" />
    <result column="post_title" property="postTitle" jdbcType="VARCHAR" />
    <result column="post_content" property="postContent" jdbcType="VARCHAR" />
    <result column="post_user_id" property="postUserId" jdbcType="INTEGER" />
    <result column="post_username" property="postUsername" jdbcType="VARCHAR" />
    <result column="post_comments_number" property="postCommentsNumber" jdbcType="VARCHAR" />
    <result column="post_create_time" property="postCreateTime" jdbcType="VARCHAR" />
    <result column="post_last_time" property="postLastTime" jdbcType="VARCHAR" />
    <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
    <result column="comment_user_id" property="commentUserId" jdbcType="VARCHAR" />
    <result column="comment_username" property="commentUsername" jdbcType="VARCHAR" />
    <result column="comment_create_time" property="commentCreateTime" jdbcType="VARCHAR" />
    <result column="comment_floor" property="commentFloor" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, topic_id, post_title, post_content, post_user_id, post_username, post_comments_number, 
    post_create_time, post_last_time, comment_content, comment_user_id, comment_username, 
    comment_create_time, comment_floor
  </sql>

  <!---->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from topic.topic_collect_rule
  </select>
  <!---->

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from topic_collect_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from topic_collect_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sang.topic.common.model.CollectRule" >
    insert into topic_collect_rule (id, name, topic_id, 
      post_title, post_content, post_user_id, 
      post_username, post_comments_number, post_create_time, 
      post_last_time, comment_content, comment_user_id, 
      comment_username, comment_create_time, comment_floor
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{topicId,jdbcType=INTEGER}, 
      #{postTitle,jdbcType=VARCHAR}, #{postContent,jdbcType=VARCHAR}, #{postUserId,jdbcType=INTEGER}, 
      #{postUsername,jdbcType=VARCHAR}, #{postCommentsNumber,jdbcType=VARCHAR}, #{postCreateTime,jdbcType=VARCHAR}, 
      #{postLastTime,jdbcType=VARCHAR}, #{commentContent,jdbcType=VARCHAR}, #{commentUserId,jdbcType=VARCHAR}, 
      #{commentUsername,jdbcType=VARCHAR}, #{commentCreateTime,jdbcType=VARCHAR}, #{commentFloor,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sang.topic.common.model.CollectRule" >
    insert into topic_collect_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="topicId != null" >
        topic_id,
      </if>
      <if test="postTitle != null" >
        post_title,
      </if>
      <if test="postContent != null" >
        post_content,
      </if>
      <if test="postUserId != null" >
        post_user_id,
      </if>
      <if test="postUsername != null" >
        post_username,
      </if>
      <if test="postCommentsNumber != null" >
        post_comments_number,
      </if>
      <if test="postCreateTime != null" >
        post_create_time,
      </if>
      <if test="postLastTime != null" >
        post_last_time,
      </if>
      <if test="commentContent != null" >
        comment_content,
      </if>
      <if test="commentUserId != null" >
        comment_user_id,
      </if>
      <if test="commentUsername != null" >
        comment_username,
      </if>
      <if test="commentCreateTime != null" >
        comment_create_time,
      </if>
      <if test="commentFloor != null" >
        comment_floor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null" >
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="postTitle != null" >
        #{postTitle,jdbcType=VARCHAR},
      </if>
      <if test="postContent != null" >
        #{postContent,jdbcType=VARCHAR},
      </if>
      <if test="postUserId != null" >
        #{postUserId,jdbcType=INTEGER},
      </if>
      <if test="postUsername != null" >
        #{postUsername,jdbcType=VARCHAR},
      </if>
      <if test="postCommentsNumber != null" >
        #{postCommentsNumber,jdbcType=VARCHAR},
      </if>
      <if test="postCreateTime != null" >
        #{postCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="postLastTime != null" >
        #{postLastTime,jdbcType=VARCHAR},
      </if>
      <if test="commentContent != null" >
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentUserId != null" >
        #{commentUserId,jdbcType=VARCHAR},
      </if>
      <if test="commentUsername != null" >
        #{commentUsername,jdbcType=VARCHAR},
      </if>
      <if test="commentCreateTime != null" >
        #{commentCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="commentFloor != null" >
        #{commentFloor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sang.topic.common.model.CollectRule" >
    update topic_collect_rule
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null" >
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="postTitle != null" >
        post_title = #{postTitle,jdbcType=VARCHAR},
      </if>
      <if test="postContent != null" >
        post_content = #{postContent,jdbcType=VARCHAR},
      </if>
      <if test="postUserId != null" >
        post_user_id = #{postUserId,jdbcType=INTEGER},
      </if>
      <if test="postUsername != null" >
        post_username = #{postUsername,jdbcType=VARCHAR},
      </if>
      <if test="postCommentsNumber != null" >
        post_comments_number = #{postCommentsNumber,jdbcType=VARCHAR},
      </if>
      <if test="postCreateTime != null" >
        post_create_time = #{postCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="postLastTime != null" >
        post_last_time = #{postLastTime,jdbcType=VARCHAR},
      </if>
      <if test="commentContent != null" >
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentUserId != null" >
        comment_user_id = #{commentUserId,jdbcType=VARCHAR},
      </if>
      <if test="commentUsername != null" >
        comment_username = #{commentUsername,jdbcType=VARCHAR},
      </if>
      <if test="commentCreateTime != null" >
        comment_create_time = #{commentCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="commentFloor != null" >
        comment_floor = #{commentFloor,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sang.topic.common.model.CollectRule" >
    update topic_collect_rule
    set name = #{name,jdbcType=VARCHAR},
      topic_id = #{topicId,jdbcType=INTEGER},
      post_title = #{postTitle,jdbcType=VARCHAR},
      post_content = #{postContent,jdbcType=VARCHAR},
      post_user_id = #{postUserId,jdbcType=INTEGER},
      post_username = #{postUsername,jdbcType=VARCHAR},
      post_comments_number = #{postCommentsNumber,jdbcType=VARCHAR},
      post_create_time = #{postCreateTime,jdbcType=VARCHAR},
      post_last_time = #{postLastTime,jdbcType=VARCHAR},
      comment_content = #{commentContent,jdbcType=VARCHAR},
      comment_user_id = #{commentUserId,jdbcType=VARCHAR},
      comment_username = #{commentUsername,jdbcType=VARCHAR},
      comment_create_time = #{commentCreateTime,jdbcType=VARCHAR},
      comment_floor = #{commentFloor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>