<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sang.topic.common.mapper.TopicUrlMapper">
    <resultMap id="BaseResultMap" type="com.sang.topic.common.model.TopicUrl">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="real_url" property="realUrl" jdbcType="VARCHAR"/>
        <result column="noparam_url" property="noparamUrl" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="post_id" property="postId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_time" property="lastTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, real_url, noparam_url, type, post_id, create_time, last_time
  </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from topic.topic_url u
        order by u.last_time
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from topic_url
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topic_url
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.sang.topic.common.model.TopicUrl">
    insert into topic_url (id, real_url, noparam_url, 
      type, post_id, create_time, 
      last_time)
    values (#{id,jdbcType=INTEGER}, #{realUrl,jdbcType=VARCHAR}, #{noparamUrl,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{postId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.sang.topic.common.model.TopicUrl">
        insert into topic_url
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="realUrl != null">
                real_url,
            </if>
            <if test="noparamUrl != null">
                noparam_url,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="postId != null">
                post_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastTime != null">
                last_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="realUrl != null">
                #{realUrl,jdbcType=VARCHAR},
            </if>
            <if test="noparamUrl != null">
                #{noparamUrl,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="postId != null">
                #{postId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastTime != null">
                #{lastTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sang.topic.common.model.TopicUrl">
        update topic_url
        <set>
            <if test="realUrl != null">
                real_url = #{realUrl,jdbcType=VARCHAR},
            </if>
            <if test="noparamUrl != null">
                noparam_url = #{noparamUrl,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="postId != null">
                post_id = #{postId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastTime != null">
                last_time = #{lastTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sang.topic.common.model.TopicUrl">
    update topic_url
    set real_url = #{realUrl,jdbcType=VARCHAR},
      noparam_url = #{noparamUrl,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      post_id = #{postId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_time = #{lastTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>